<h2> Welcome back, <%= @user.full_name %>!</h2>
<br>
<br>
<hr>
<br>
<hr>

<a href="/blogs/new">Start blogging!</a>

<p>
  <ul>
    <% @user.blogs.each do |blog| %>
    <li> <a href="/blogs/<%= blog.id %>"> <%= blog.title%> </a> </li>
    <% end %>
  </ul>
</p>

<a href="/users/logout">Log Out</a>
